body{
    background-color: #30343d;
}

.body{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info{
    
    display: flex;
    flex-direction: column;
    color: white;
    font-family: RBI;
    animation: fadeIn 2s;
    
}

.header{
    font-size: 30px;
    color: white;
    font-family: RBI;
}
.desc{
    margin-top: -20px;
    font-size: 20px;
}
.img{
    height: 400px;
    width: 250px;
    background-image: url("../images/Bus.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 2s;
   
}

.home-button{
    width: 100px;
    height: 40px;
    border-radius: 38px;
    background-color: white;
}